@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-black: #000000;
    --color-red: #E93E30;
    --color-yellow: #F7E018;
    --color-blue: #299ED5;
    --color-dark-gray: #292C33;
    --color-green: #67C770;
    --color-purple: #563D7C;
}

body, * {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Estilos Navbar */
.navbar__container {
    display: flex;
    align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.principal__logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar__title {
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
}

.logo__image {
    width: 55px;
    border-radius: 5px;
}

/* Novedades */

.container_novedades {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;    
}

/* Estilos main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Estilos main card */
.card__image--xl {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.main .card__body {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    row-gap: 30px;
    border: none; 
    box-shadow: none; 
}

.card__date {
    font-size: 18px;
}

.card__title {
  font-size: 20px;
    font-weight: 700;
}

.card__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.card__footer .logo__image {
    border-radius: 50%;
}

/* Estilos side card main__side*/
.main__side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding-top: 64px;
    margin: 0 20px;
}

.side__card {
    display: flex;
    flex-direction: row;
    width: 400px;
    border: none; 
    box-shadow: none; 
}

.side__card .card__body {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
}

.side__card .card__image {
    object-fit: cover;
    border-radius: 20px;
    width: 190px;
    height: 150px;
}

.side__card .card__date {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}

.side__card .card__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.side__card .logo__image {
    width: 40px;
}

.container_populares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  margin-right: 40px; 
}
.container_componentes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    padding-top: 30px;
}

/* Estilos Populares cards */
.componente {
    display: flex;
    flex-direction: column;
}

.componente .card {
    width: 300px;
    height: 350px;
    border: none; 
    box-shadow: none; 
}

.componente .card__image {
    border-radius: 20px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Estilos para categorias */
.categoria__side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding-top: 30px;
}

.side__badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    padding: 0 20px 0 10px;
}

.badge__image {
    width: 70px;
}

.badge__title {
    font-size: 32px;
    color: white;
}

.side__badge--bg-html {
    background-color: var(--color-red);
}

.side__badge--bg-js {
    background-color: var(--color-yellow);
}

.side__badge--bg-css {
    background-color: var(--color-blue);
}

.side__badge--bg-react {
    background-color: var(--color-dark-gray);
}

.side__badge--bg-vue {
    background-color: var(--color-green);
}

.side__badge--bg-boot {
    background-color: var(--color-purple);
}

.side__text {
    text-align: right;
}

/* Estilos footer */
.footer {
  width: 100%;
  height: 130px;
  padding-top: 30px;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px;
  padding: 0 70px;
}

.logo__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__title {
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
}

/* La linea para dividir las secciones */
.linea {
  width: 100%; 
  height: 2px;
  background-color: var(--color-dark-gray);
  margin: 20px auto;
}

.titulo{
  font-weight: 700;
}
